## 3.1 Importing a Data Set with the read_csv Function

In [22]:
#  2026
from math import *
for a in range(2, 1000):
  i = ceil( log2(a) )
  N = ceil(2783*i/8)
  if (N * 3845627) >= (11*1024*1024*1024):
    print(a, N * 3845627, 11*1024*1024*1024)
    break

257 12040658137 11811160064

In [35]:
#  2025
from math import *
a = 10 + 52 + 963
i = ceil( log2(a) )
print(a, i)

l = []

for n in range(2,1000):
  N = ceil(n*i/8)
  if (2000*N) <= (693*1024):
    # print(n, 2000*N, 693*1024)
    l.append(n)
max(l)

1025 11

257

In [32]:
l

[3,
 5,
 6,
 7,
 9,
 10,
 11,
 13,
 14,
 16,
 17,
 18,
 20,
 21,
 22,
 24,
 25,
 27,
 28,
 29,
 31,
 32,
 33,
 35,
 36,
 38,
 39,
 40,
 42,
 43,
 44,
 46,
 47,
 49,
 50,
 51,
 53,
 54,
 55,
 57,
 58,
 60,
 61,
 62,
 64,
 65,
 66,
 68,
 69,
 71,
 72,
 73,
 75,
 76,
 77,
 79,
 80,
 82,
 83,
 84,
 86,
 87,
 88,
 90,
 91,
 93,
 94,
 95,
 97,
 98,
 99,
 101,
 102,
 104,
 105,
 106,
 108,
 109,
 110,
 112,
 113,
 115,
 116,
 117,
 119,
 120,
 121,
 123,
 124,
 126,
 127,
 128,
 130,
 131,
 132,
 134,
 135,
 137,
 138,
 139,
 141,
 142,
 143,
 145,
 146,
 148,
 149,
 150,
 152,
 153,
 154,
 156,
 157,
 159,
 160,
 161,
 163,
 164,
 165,
 167,
 168,
 170,
 171,
 172,
 174,
 175,
 176,
 178,
 179,
 181,
 182,
 183,
 185,
 186,
 187,
 189,
 190,
 192,
 193,
 194,
 196,
 197,
 198,
 200,
 201,
 203,
 204,
 205,
 207,
 208,
 209,
 211,
 212,
 214,
 215,
 216,
 218,
 219,
 220,
 222,
 223,
 225,
 226,
 227,
 229,
 230,
 231,
 233,
 234,
 236,
 237,
 238,
 240,
 241,
 242,
 244,
 245,
 247,
 248,
 249,
 251,
 252,
 253,
 255,
 256,
 258,
 259,
 260,
 262,
 263,
 264,
 266,
 267,
 269,
 270,
 271,
 273,
 274,
 275,
 277,
 278,
 280,
 281,
 282,
 284,
 285,
 286,
 288,
 289,
 291,
 292,
 293,
 295,
 296,
 297,
 299,
 300,
 302,
 303,
 304,
 306,
 307,
 308,
 310,
 311,
 313,
 314,
 315,
 317,
 318,
 319,
 321,
 322,
 324,
 325,
 326,
 328,
 329,
 330,
 332,
 333,
 335,
 336,
 337,
 339,
 340,
 341,
 343,
 344,
 346,
 347,
 348,
 350,
 351,
 352,
 354]

In [19]:
for m in range(100):
  print(m, m*i)

0 0
1 12
2 24
3 36
4 48
5 60
6 72
7 84
8 96
9 108
10 120
11 132
12 144
13 156
14 168
15 180
16 192
17 204
18 216
19 228
20 240
21 252
22 264
23 276
24 288
25 300
26 312
27 324
28 336
29 348
30 360
31 372
32 384
33 396
34 408
35 420
36 432
37 444
38 456
39 468
40 480
41 492
42 504
43 516
44 528
45 540
46 552
47 564
48 576
49 588
50 600
51 612
52 624
53 636
54 648
55 660
56 672
57 684
58 696
59 708
60 720
61 732
62 744
63 756
64 768
65 780
66 792
67 804
68 816
69 828
70 840
71 852
72 864
73 876
74 888
75 900
76 912
77 924
78 936
79 948
80 960
81 972
82 984
83 996
84 1008
85 1020
86 1032
87 1044
88 1056
89 1068
90 1080
91 1092
92 1104
93 1116
94 1128
95 1140
96 1152
97 1164
98 1176
99 1188

In [2]:
import pandas as pd

In [1]:
!wget https://github.com/MinyaevAndrey/pandas-in-action/blob/master/chapter_03_series_methods/pokemon.csv

--2025-09-27 14:20:27--  https://github.com/MinyaevAndrey/pandas-in-action/blob/master/chapter_03_series_methods/pokemon.csv
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘pokemon.csv’

pokemon.csv             [ <=>                ] 200.17K  --.-KB/s    in 0.04s

2025-09-27 14:20:28 (4.53 MB/s) - ‘pokemon.csv’ saved [204977]

In [ ]:
# The two lines below are equivalent
pd.read_csv(filepath_or_buffer = "pokemon.csv")
pd.read_csv("pokemon.csv")

         Pokemon            Type
0      Bulbasaur  Grass / Poison
1        Ivysaur  Grass / Poison
2       Venusaur  Grass / Poison
3     Charmander            Fire
4     Charmeleon            Fire
..           ...             ...
804    Stakataka    Rock / Steel
805  Blacephalon    Fire / Ghost
806      Zeraora        Electric
807       Meltan           Steel
808     Melmetal           Steel

[809 rows x 2 columns]

In [ ]:
pd.read_csv("pokemon.csv", index_col = "Pokemon")

                       Type
Pokemon
Bulbasaur    Grass / Poison
Ivysaur      Grass / Poison
Venusaur     Grass / Poison
Charmander             Fire
Charmeleon             Fire
...                     ...
Stakataka      Rock / Steel
Blacephalon    Fire / Ghost
Zeraora            Electric
Meltan                Steel
Melmetal              Steel

[809 rows x 1 columns]

In [ ]:
pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze = True)

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object

In [ ]:
pokemon = pd.read_csv(
    "pokemon.csv", index_col = "Pokemon", squeeze = True
)

In [ ]:
pd.read_csv("google_stocks.csv").head()

         Date  Close
0  2004-08-19  49.98
1  2004-08-20  53.95
2  2004-08-23  54.50
3  2004-08-24  52.24
4  2004-08-25  52.80

In [ ]:
pd.read_csv("google_stocks.csv", parse_dates = ["Date"]).head()

        Date  Close
0 2004-08-19  49.98
1 2004-08-20  53.95
2 2004-08-23  54.50
3 2004-08-24  52.24
4 2004-08-25  52.80

In [ ]:
pd.read_csv(
    "google_stocks.csv",
    parse_dates = ["Date"],
    index_col = "Date",
    squeeze = True
).head()

Date
2004-08-19    49.98
2004-08-20    53.95
2004-08-23    54.50
2004-08-24    52.24
2004-08-25    52.80
Name: Close, dtype: float64

In [ ]:
google = pd.read_csv(
    "google_stocks.csv",
    parse_dates = ["Date"],
    index_col = "Date",
    squeeze = True
)

In [ ]:
pd.read_csv("revolutionary_war.csv").tail()

                         Battle  Start Date     State
227         Siege of Fort Henry   9/11/1782  Virginia
228  Grand Assault on Gibraltar   9/13/1782       NaN
229   Action of 18 October 1782  10/18/1782       NaN
230   Action of 6 December 1782   12/6/1782       NaN
231   Action of 22 January 1783   1/22/1783  Virginia

In [ ]:
pd.read_csv(
    "revolutionary_war.csv",
    index_col = "Start Date",
    parse_dates = ["Start Date"],
).tail()

                                Battle     State
Start Date
1782-09-11         Siege of Fort Henry  Virginia
1782-09-13  Grand Assault on Gibraltar       NaN
1782-10-18   Action of 18 October 1782       NaN
1782-12-06   Action of 6 December 1782       NaN
1783-01-22   Action of 22 January 1783  Virginia

In [ ]:
pd.read_csv(
    "revolutionary_war.csv",
    index_col = "Start Date",
    parse_dates = ["Start Date"],
    usecols = ["State", "Start Date"],
    squeeze = True,
).tail()

Start Date
1782-09-11    Virginia
1782-09-13         NaN
1782-10-18         NaN
1782-12-06         NaN
1783-01-22    Virginia
Name: State, dtype: object

In [ ]:
battles = pd.read_csv(
    "revolutionary_war.csv",
    index_col = "Start Date",
    parse_dates = ["Start Date"],
    usecols = ["State", "Start Date"],
    squeeze = True,
)

## 3.2 Sorting a Series

### 3.2.1 Sorting by Values with the sort_values Method

In [ ]:
google.sort_values()

Date
2004-09-03      49.82
2004-09-01      49.94
2004-08-19      49.98
2004-09-02      50.57
2004-09-07      50.60
               ...
2019-04-23    1264.55
2019-10-25    1265.13
2018-07-26    1268.33
2019-04-26    1272.18
2019-04-29    1287.58
Name: Close, Length: 3824, dtype: float64

In [ ]:
pokemon.sort_values()

Pokemon
Illumise                Bug
Silcoon                 Bug
Pinsir                  Bug
Burmy                   Bug
Wurmple                 Bug
                  ...
Tirtouga       Water / Rock
Relicanth      Water / Rock
Corsola        Water / Rock
Carracosta     Water / Rock
Empoleon      Water / Steel
Name: Type, Length: 809, dtype: object

In [ ]:
pd.Series(data = ["Adam", "adam", "Ben"]).sort_values()

0    Adam
2     Ben
1    adam
dtype: object

In [ ]:
google.sort_values(ascending = False).head()

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
Name: Close, dtype: float64

In [ ]:
pokemon.sort_values(ascending = False).head()

Pokemon
Empoleon      Water / Steel
Corsola        Water / Rock
Relicanth      Water / Rock
Carracosta     Water / Rock
Tirtouga       Water / Rock
Name: Type, dtype: object

In [ ]:
# The two lines below are equivalent
battles.sort_values()
battles.sort_values(na_position = "last")

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1782-08-08            NaN
1782-08-25            NaN
1782-09-13            NaN
1782-10-18            NaN
1782-12-06            NaN
Name: State, Length: 232, dtype: object

In [ ]:
battles.sort_values(na_position = "first")

Start Date
1775-09-17         NaN
1775-12-31         NaN
1776-03-03         NaN
1776-03-25         NaN
1776-05-18         NaN
                ...
1781-07-06    Virginia
1781-07-01    Virginia
1781-06-26    Virginia
1781-04-25    Virginia
1783-01-22    Virginia
Name: State, Length: 232, dtype: object

In [ ]:
battles.dropna().sort_values()

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1781-07-06       Virginia
1781-07-01       Virginia
1781-06-26       Virginia
1781-04-25       Virginia
1783-01-22       Virginia
Name: State, Length: 162, dtype: object

### 3.2.2 Sorting by Index with the sort_index Method

In [ ]:
# The two lines below are equivalent
pokemon.sort_index()
pokemon.sort_index(ascending = True)

Pokemon
Abomasnow        Grass / Ice
Abra                 Psychic
Absol                   Dark
Accelgor                 Bug
Aegislash      Steel / Ghost
                  ...
Zoroark                 Dark
Zorua                   Dark
Zubat        Poison / Flying
Zweilous       Dark / Dragon
Zygarde      Dragon / Ground
Name: Type, Length: 809, dtype: object

In [ ]:
battles.sort_index()

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1783-01-22         Virginia
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
Name: State, Length: 232, dtype: object

In [ ]:
battles.sort_index(na_position = "first").head()

Start Date
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
1774-09-01    Massachusetts
Name: State, dtype: object

In [ ]:
battles.sort_index(ascending = False).head()

Start Date
1783-01-22    Virginia
1782-12-06         NaN
1782-10-18         NaN
1782-09-13         NaN
1782-09-11    Virginia
Name: State, dtype: object

### 3.2.3 Retrieving the Smallest and Largest Values with the nsmallest and nlargest Methods

In [ ]:
google.sort_values(ascending = False).head()

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
Name: Close, dtype: float64

In [ ]:
# The two lines below are equivalent
google.nlargest(n = 5)
google.nlargest()

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
Name: Close, dtype: float64

In [ ]:
# The two lines below are equivalent
google.nsmallest(n = 5)
google.nsmallest(5)

Date
2004-09-03    49.82
2004-09-01    49.94
2004-08-19    49.98
2004-09-02    50.57
2004-09-07    50.60
Name: Close, dtype: float64

## 3.3 Overwriting a Series with the inplace Parameter

In [ ]:
battles.head(3)

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
Name: State, dtype: object

In [ ]:
battles.sort_values().head(3)

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
Name: State, dtype: object

In [ ]:
battles.head(3)

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
Name: State, dtype: object

In [ ]:
battles.head(3)

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
Name: State, dtype: object

In [ ]:
battles.sort_values(inplace = True)

In [ ]:
battles.head(3)

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
Name: State, dtype: object

## 3.4 Counting Values with the value_counts Method

In [ ]:
pokemon.head()

Pokemon
Bulbasaur     Grass / Poison
Ivysaur       Grass / Poison
Venusaur      Grass / Poison
Charmander              Fire
Charmeleon              Fire
Name: Type, dtype: object

In [ ]:
pokemon.value_counts()

Normal                65
Water                 61
Grass                 38
Psychic               35
Fire                  30
                      ..
Fighting / Flying      1
Psychic / Fighting     1
Ground / Steel         1
Fighting / Ghost       1
Fighting / Dark        1
Name: Type, Length: 159, dtype: int64

In [ ]:
len(pokemon.value_counts())

159

In [ ]:
pokemon.nunique()

159

In [ ]:
pokemon.value_counts(ascending = True)

Fighting / Dark       1
Bug / Ground          1
Fire / Rock           1
Dragon / Electric     1
Psychic / Steel       1
                     ..
Fire                 30
Psychic              35
Grass                38
Water                61
Normal               65
Name: Type, Length: 159, dtype: int64

In [ ]:
pokemon.value_counts(normalize = True).head()

Normal     0.080346
Water      0.075402
Grass      0.046972
Psychic    0.043263
Fire       0.037083
Name: Type, dtype: float64

In [ ]:
pokemon.value_counts(normalize = True).head() * 100

Normal     8.034611
Water      7.540173
Grass      4.697157
Psychic    4.326329
Fire       3.708282
Name: Type, dtype: float64

In [ ]:
(pokemon.value_counts(normalize = True) * 100).round(2)

Normal                8.03
Water                 7.54
Grass                 4.70
Psychic               4.33
Fire                  3.71
                      ...
Fighting / Flying     0.12
Psychic / Fighting    0.12
Ground / Steel        0.12
Fighting / Ghost      0.12
Fighting / Dark       0.12
Name: Type, Length: 159, dtype: float64

In [ ]:
google.value_counts().head()

194.27    3
307.10    3
290.41    3
287.68    3
237.04    3
Name: Close, dtype: int64

In [ ]:
google.max()

1287.58

In [ ]:
google.min()

49.82

In [ ]:
buckets = [0, 200, 400, 600, 800, 1000, 1200, 1400]
google.value_counts(bins = buckets)

(200.0, 400.0]      1568
(-0.001, 200.0]      595
(400.0, 600.0]       575
(1000.0, 1200.0]     406
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1200.0, 1400.0]      93
Name: Close, dtype: int64

In [ ]:
google.value_counts(bins = buckets).sort_index()

(-0.001, 200.0]      595
(200.0, 400.0]      1568
(400.0, 600.0]       575
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1000.0, 1200.0]     406
(1200.0, 1400.0]      93
Name: Close, dtype: int64

In [ ]:
google.value_counts(bins = buckets, sort = False)

(-0.001, 200.0]      595
(200.0, 400.0]      1568
(400.0, 600.0]       575
(600.0, 800.0]       380
(800.0, 1000.0]      207
(1000.0, 1200.0]     406
(1200.0, 1400.0]      93
Name: Close, dtype: int64

In [ ]:
google.value_counts(bins = 6, sort = False)

(48.581, 256.113]      1204
(256.113, 462.407]     1104
(462.407, 668.7]        507
(668.7, 874.993]        380
(874.993, 1081.287]     292
(1081.287, 1287.58]     337
Name: Close, dtype: int64

In [ ]:
battles.head()

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
Name: State, dtype: object

In [ ]:
battles.value_counts().head()

South Carolina    31
New York          28
New Jersey        24
Virginia          21
Massachusetts     11
Name: State, dtype: int64

In [ ]:
battles.value_counts(dropna = False).head()

NaN               70
South Carolina    31
New York          28
New Jersey        24
Virginia          21
Name: State, dtype: int64

In [ ]:
battles.index

DatetimeIndex(['1781-09-06', '1779-07-05', '1777-04-27', '1777-09-03',
               '1777-05-17', '1779-09-10', '1779-09-07', '1780-03-02',
               '1778-06-30', '1781-01-07',
               ...
               '1782-05-06', '1782-05-25', '1782-05-28', '1782-07-01',
               '1782-07-06', '1782-08-08', '1782-08-25', '1782-09-13',
               '1782-10-18', '1782-12-06'],
              dtype='datetime64[ns]', name='Start Date', length=232, freq=None)

In [ ]:
battles.index.value_counts()

1782-01-11    2
1778-09-07    2
1780-05-25    2
1782-03-16    2
1781-09-13    2
             ..
1776-03-25    1
1782-08-08    1
1775-04-20    1
1776-10-11    1
1780-03-02    1
Name: Start Date, Length: 217, dtype: int64

## 3.5 Invoking a Function on Every Series Value with the apply Method

In [ ]:
funcs = [len, max, min]

In [ ]:
funcs = [len, max, min]

for current_func in funcs:
    print(current_func(google))

3824
1287.58
49.82

In [ ]:
round(99.2)

99

In [ ]:
round(99.49)

99

In [ ]:
round(99.5)

100

In [ ]:
# The two lines below are equivalent
google.apply(func = round)
google.apply(round)

Date
2004-08-19      50
2004-08-20      54
2004-08-23      54
2004-08-24      52
2004-08-25      53
              ...
2019-10-21    1246
2019-10-22    1243
2019-10-23    1259
2019-10-24    1261
2019-10-25    1265
Name: Close, Length: 3824, dtype: int64

In [ ]:
def single_or_multi(pokemon_type):
    if "/" in pokemon_type:
        return "Multi"

    return "Single"

In [ ]:
pokemon.head(4)

Pokemon
Bulbasaur     Grass / Poison
Ivysaur       Grass / Poison
Venusaur      Grass / Poison
Charmander              Fire
Name: Type, dtype: object

In [ ]:
pokemon.apply(single_or_multi)

Pokemon
Bulbasaur       Multi
Ivysaur         Multi
Venusaur        Multi
Charmander     Single
Charmeleon     Single
                ...
Stakataka       Multi
Blacephalon     Multi
Zeraora        Single
Meltan         Single
Melmetal       Single
Name: Type, Length: 809, dtype: object

In [ ]:
pokemon.apply(single_or_multi).value_counts()

Multi     405
Single    404
Name: Type, dtype: int64

## 3.6 Coding Challenge

### 3.6.1 Problems

### 3.6.2 Solutions

In [ ]:
import datetime as dt
today = dt.datetime(2020, 12, 26)
today.strftime("%A")

'Saturday'

In [ ]:
pd.read_csv("revolutionary_war.csv").head()

                              Battle  Start Date          State
0                       Powder Alarm    9/1/1774  Massachusetts
1  Storming of Fort William and Mary  12/14/1774  New Hampshire
2   Battles of Lexington and Concord   4/19/1775  Massachusetts
3                    Siege of Boston   4/19/1775  Massachusetts
4                 Gunpowder Incident   4/20/1775       Virginia

In [ ]:
days_of_war = pd.read_csv(
    "revolutionary_war.csv",
    usecols = ["Start Date"],
    parse_dates = ["Start Date"],
    squeeze = True,
)

days_of_war.head()

0   1774-09-01
1   1774-12-14
2   1775-04-19
3   1775-04-19
4   1775-04-20
Name: Start Date, dtype: datetime64[ns]

In [ ]:
def day_of_week(date):
    return date.strftime("%A")

**NOTE**: I've commented out the code below so that the Notebook can run without raising an error.

In [ ]:
# days_of_war.apply(day_of_week)

In [ ]:
days_of_war.dropna().apply(day_of_week)

0       Thursday
1      Wednesday
2      Wednesday
3      Wednesday
4       Thursday
         ...
227    Wednesday
228       Friday
229       Friday
230       Friday
231    Wednesday
Name: Start Date, Length: 228, dtype: object

In [ ]:
days_of_war.dropna().apply(day_of_week).value_counts()

Saturday     39
Friday       39
Wednesday    32
Sunday       31
Thursday     31
Tuesday      29
Monday       27
Name: Start Date, dtype: int64

## 3.7 Summary