## 2.1 Overview of a Series

In [1]:
import pandas as pd
import numpy as np
#

### 2.1.1 Classes, and Instances

In [7]:
pd.Series()

Series([], dtype: object)

### 2.1.2 Populating the Series with Values

In [16]:
pd.Series(
    [ "Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [24]:
pd.Series(
    data= [ 11, 12, 13, 14],
    name = "col-name",
    dtype=str
)

0    11
1    12
2    13
3    14
Name: col-name, dtype: object

### 2.1.3 Customizing the Series Index

In [25]:
pd.Series(
    data = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"],
    index =["Monday", "Wednesday", "Friday", "Saturday"],
    name='col-name'
)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
Name: col-name, dtype: object

In [36]:
s = pd.Series(
    data = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"],
    index =["Monday", "Wednesday", "Friday", "Saturday"],
    name='col-name'
)

In [35]:
s.describe()

count             4
unique            4
top       Chocolate
freq              1
Name: col-name, dtype: object

In [34]:
s.info()

<class 'pandas.core.series.Series'>
Index: 4 entries, Monday to Saturday
Series name: col-name
Non-Null Count  Dtype
--------------  -----
4 non-null      object
dtypes: object(1)
memory usage: 64.0+ bytes

In [38]:
bunch_of_bools = [True, False, False]
pd.Series(bunch_of_bools)

0     True
1    False
2    False
dtype: bool

In [39]:
stock_prices = [985.32, 950.44]
time_of_day = ["Open", "Close"]
pd.Series(data = stock_prices, index = time_of_day)

Open     985.32
Close    950.44
dtype: float64

In [40]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lucky_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [42]:
pd.Series(
    data=[4, 8, 15, 16, 23, 42],
    name='col-name',
    dtype = "float"
)

0     4.0
1     8.0
2    15.0
3    16.0
4    23.0
5    42.0
Name: col-name, dtype: float64

### 2.1.4 Creating a Series with Missing Values

In [44]:
pd.Series(
    data = [94, 88, np.nan, 91],
    name='col-name'
)

0    94.0
1    88.0
2     NaN
3    91.0
Name: col-name, dtype: float64

## 2.2 Create a Series from Python Objects

In [47]:
pd.Series(
    {
      "Cereal": 125,
      "Chocolate Bar": 406,
      "Ice Cream Sundae": 342,
    },
    name='col-name',
    dtype=float
)

Cereal              125.0
Chocolate Bar       406.0
Ice Cream Sundae    342.0
Name: col-name, dtype: float64

In [56]:
s = pd.Series(
    data = [
        [120, 41, 26],
        [196, 165, 45]
    ],
    name='col-name',
    dtype=float
)
s

0     (120, 41, 26)
1    (196, 165, 45)
Name: col-name, dtype: object

In [58]:
type(s[0])

tuple

**NOTE**: I've commented out the code below so that the Notebook can run without raising an error.

In [ ]:
my_set = {"Ricky", "Bobby"}
# pd.Series(my_set)

In [59]:
pd.Series(
    data = list( {"Ricky", "Bobby"}) ,
    name='col-name',
)

0    Bobby
1    Ricky
Name: col-name, dtype: object

In [62]:
random_data = np.random.randint(1, 101, 10)
random_data

array([ 5,  4, 37, 12, 24, 26, 18, 20, 28, 21])

In [63]:
pd.Series(
    data=np.random.randint(1, 101, 10),
    name='col-name',
    dtype=float
)

0    60.0
1     8.0
2    62.0
3    84.0
4    52.0
5    43.0
6    99.0
7    91.0
8    49.0
9    47.0
Name: col-name, dtype: float64

## 2.3 Series Attributes

In [65]:
diet = pd.Series(
    {
      "Cereal": 125,
      "Chocolate Bar": 406,
      "Ice Cream Sundae": 342,
    },
    name='col-name',
    dtype=float
)
diet.values

array([125., 406., 342.])

In [66]:
type(diet.values)

numpy.ndarray

In [67]:
diet.index

Index(['Cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')

In [68]:
type(diet.index)

pandas.core.indexes.base.Index

In [ ]:
diet.dtype

dtype('int64')

In [ ]:
diet.size

3

In [ ]:
diet.shape

(3,)

In [69]:
diet.is_unique

True

In [ ]:
pd.Series(data = [3, 3]).is_unique

False

In [70]:
pd.Series(data = [1, 3, 6]).is_monotonic

AttributeError: 'Series' object has no attribute 'is_monotonic'

In [ ]:
pd.Series(data = [1, 6, 3]).is_monotonic

False

## 2.4 Retrieving the First and Last Rows

In [72]:
nums = pd.Series(
    data = range(0, 500, 5),
    name='col-name',
    dtype=float)
nums.head()

0     0.0
1     5.0
2    10.0
3    15.0
4    20.0
Name: col-name, dtype: float64

In [73]:
nums.tail()

95    475.0
96    480.0
97    485.0
98    490.0
99    495.0
Name: col-name, dtype: float64

## 2.5 Mathematical Operations

### 2.5.1 Statistical Operations

In [ ]:
numbers = pd.Series([1, 2, 3, np.nan, 4, 5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [ ]:
numbers.count()

5

In [ ]:
numbers.sum()

15.0

In [ ]:
numbers.sum(skipna = False)

nan

In [ ]:
numbers.sum(min_count = 3)

15.0

In [ ]:
numbers.sum(min_count = 6)

nan

In [ ]:
numbers.product()

120.0

In [ ]:
numbers.product(skipna = False)

nan

In [ ]:
numbers.product(min_count = 3)

120.0

In [ ]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [ ]:
numbers.cumsum()

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [ ]:
numbers.cumsum(skipna = False)

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [ ]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [ ]:
numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [ ]:
# The three lines below are equivalent
numbers.pct_change()
numbers.pct_change(fill_method = "pad")
numbers.pct_change(fill_method = "ffill")

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [ ]:
# The two lines below are equivalent
numbers.pct_change(fill_method = "bfill")
numbers.pct_change(fill_method = "backfill")

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.000000
5    0.250000
dtype: float64

In [ ]:
numbers.mean()

3.0

In [ ]:
numbers.median()

3.0

In [ ]:
numbers.std()

1.5811388300841898

In [ ]:
numbers.max()

5.0

In [ ]:
numbers.min()

1.0

In [ ]:
animals = pd.Series(["koala", "aardvark", "zebra"])
animals

0       koala
1    aardvark
2       zebra
dtype: object

In [ ]:
animals.max()

'zebra'

In [ ]:
animals.min()

'aardvark'

In [ ]:
numbers.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [ ]:
numbers.sample(3)

2    3.0
5    5.0
3    NaN
dtype: float64

In [ ]:
authors = pd.Series(
    ["Hemingway", "Orwell", "Dostoevsky", "Fitzgerald", "Orwell"]
)

authors.unique()

array(['Hemingway', 'Orwell', 'Dostoevsky', 'Fitzgerald'], dtype=object)

In [ ]:
authors.nunique()

4

### 2.5.2 Arithmetic Operations

In [ ]:
s1 = pd.Series(data = [5, np.nan, 15], index = ["A", "B", "C"])
s1

A     5.0
B     NaN
C    15.0
dtype: float64

In [ ]:
s1 + 3

A     8.0
B     NaN
C    18.0
dtype: float64

In [ ]:
s1.add(3)

A     8.0
B     NaN
C    18.0
dtype: float64

In [ ]:
# The three lines below are equivalent
s1 - 5
s1.sub(5)
s1.subtract(5)

A     0.0
B     NaN
C    10.0
dtype: float64

In [ ]:
# The three lines below are equivalent
s1 * 2
s1.mul(2)
s1.multiply(2)

A    10.0
B     NaN
C    30.0
dtype: float64

In [ ]:
# The three lines below are equivalent
s1 / 2
s1.div(2)
s1.divide(2)

A    2.5
B    NaN
C    7.5
dtype: float64

In [ ]:
# The two lines below are equivalent
s1 // 4
s1.floordiv(4)

A    1.0
B    NaN
C    3.0
dtype: float64

In [ ]:
# The two lines below are equivalent
s1 % 3
s1.mod(3)

A    2.0
B    NaN
C    0.0
dtype: float64

### 2.5.3 Broadcasting

In [ ]:
s1 = pd.Series([1, 2, 3], index = ["A", "B", "C"])
s2 = pd.Series([4, 5, 6], index = ["A", "B", "C"])

In [ ]:
s1 + s2

A    5
B    7
C    9
dtype: int64

In [ ]:
s1 = pd.Series(data = [3, 6, np.nan, 12])
s2 = pd.Series(data = [2, 6, np.nan, 12])

In [ ]:
# The two lines below are equivalent
s1 == s2
s1.eq(s2)

0    False
1     True
2    False
3     True
dtype: bool

In [ ]:
# The two lines below are equivalent
s1 != s2
s1.ne(s2)

0     True
1    False
2     True
3    False
dtype: bool

In [ ]:
s1 = pd.Series(
    data = [5, 10, 15], index = ["A", "B", "C"]
)

s2 = pd.Series(
    data = [4, 8, 12, 14], index = ["B", "C", "D", "E"]
)

In [ ]:
s1 + s2

A     NaN
B    14.0
C    23.0
D     NaN
E     NaN
dtype: float64

## 2.6 Passing the Series to Python's Built-In Functions

In [ ]:
cities = pd.Series(
    data = ["San Francisco", "Los Angeles", "Las  Vegas", np.nan]
)

In [ ]:
len(cities)

4

In [ ]:
type(cities)

pandas.core.series.Series

In [ ]:
dir(cities)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_attrs',
 '_binop',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_convert_dtypes',
 '_cython_table',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_find_valid_index',
 '_flags',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_item_cache',
 '_ix',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [ ]:
list(cities)

['San Francisco', 'Los Angeles', 'Las  Vegas', nan]

In [ ]:
dict(cities)

{0: 'San Francisco', 1: 'Los Angeles', 2: 'Las  Vegas', 3: nan}

In [ ]:
cities

0    San Francisco
1      Los Angeles
2       Las  Vegas
3              NaN
dtype: object

In [ ]:
"Las Vegas" in cities

False

In [ ]:
2 in cities

True

In [ ]:
"Las Vegas" in cities.values

False

In [ ]:
100 not in cities

True

In [ ]:
"Paris" not in cities.values

True

## 2.7 Coding Challenge

### 2.7.1 Problems

### 2.7.2 Solutions

In [ ]:
superheroes = [
    "Batman",
    "Superman",
    "Spider-Man",
    "Iron Man",
    "Captain America",
    "Wonder Woman"
]

In [ ]:
strength_levels = (100, 120, 90, 95, 110, 120)

In [ ]:
pd.Series(superheroes)

0             Batman
1           Superman
2         Spider-Man
3           Iron Man
4    Captain America
5       Wonder Woman
dtype: object

In [ ]:
pd.Series(data = strength_levels)

0    100
1    120
2     90
3     95
4    110
5    120
dtype: int64

In [ ]:
heroes = pd.Series(
    data = strength_levels, index = superheroes
)

heroes

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [ ]:
heroes.head(2)

Batman      100
Superman    120
dtype: int64

In [ ]:
heroes.tail(4)

Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64

In [ ]:
heroes.nunique()

5

In [ ]:
heroes.mean()

105.83333333333333

In [ ]:
heroes.max()

120

In [ ]:
heroes.min()

90

In [ ]:
heroes * 2

Batman             200
Superman           240
Spider-Man         180
Iron Man           190
Captain America    220
Wonder Woman       240
dtype: int64

In [ ]:
dict(heroes)

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captain America': 110,
 'Wonder Woman': 120}

## 2.7 Summary